<ul>
  {% for article in include.articles reversed %}
    {% assign link = site.baseurl | append: article.url %}
    <li class="teaser-spacer">
      <h3 class="title-three">
        <a href="{{ link }}">
          {{ article.title | smartify }}
        </a>
      </h3>
      <div class="indent-one prose">
        {{ article.brief | markdownify }}
        <p class="collapse">
          {% if article.author %}
            <span class="size-small">
              by
              {{ article.author.name }}
            </span>
            <br>
          {% endif %}
          <a class="silent" href="{{ link }}">
            <time class="title-fineprint size-xsmall">
              {{ article.date | date: '%b %-d, %Y' }}
            </time>
          </a>
        </p>
      </div>
    </li>
  {% endfor %}
</ul>
