---
layout: base
---



<article>
  <header class="page-header">
    <div class="container">
      <h1 class="size-xxlarge title-one">
        {{ page.title | smartify }}
      </h1>
      <p class="indent-one title-type">
        {% if page.author %}
          {% if page.author.link %}
            <a href="{{ page.author.link }}">
              {{ page.author.name }}</a>
          {% else %}
            {{ page.author.name }}
          {% endif %}
          <br>
        {% endif %}
        <time class="size-small">
          {{ page.date | date: '%b %-d, %Y' }}
        </time>
      </p>
    </div>
  </header>
  
  <div class="container">
    <div class="prose">
      {{ content }}
    </div>
  </div>
</article>
