---
layout: base
---



<article>
  <header class="page-header">
    <div class="container">
      <h1 class="size-xxlarge title-one">
        {{ page.title | smartify }}
      </h1>
      <p class="indent-one title-type">
        {% if page.author %}
          {% if page.author.link %}
            <a href="{{ page.author.link }}">
              {{ page.author.name }}</a>
          {% else %}
            {{ page.author.name }}
          {% endif %}
          <br>
        {% endif %}
        <time class="size-small">
          {{ page.date | date: '%b %-d, %Y' }}
        </time>
        {% if page.topics %}
          <span class="size-small">in</span>
          {% for topic_id in page.topics %}
            {% assign topic = site.topics | where: 'id', topic_id | first %}
            {% if topic %}
              <a class="title-type title-label brand-one" href="{{ site.baseurl | append: topic.url }}">
                {{ topic.title
              }}</a>{%
                unless forloop.last
              %}<span class="size-small">{%
                if forloop.rindex0 == 1
              %} &amp;
              {% else %}, {% endif %}
              </span>
              {% endunless %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </p>
    </div>
  </header>
  
  <section class="bleed">
    <div class="container prose">
      {{ content }}
    </div>
  </section>
</article>


{% for topic_id in page.topics %}
  {%
    include articles_listing_by_topic.liquid
    topic_id=topic_id
    exclude_id=page.id
    title_prepend='More in '
  %}
{% endfor %}