---
layout: html

nav:
  Work:       /work/
  About:      /about/
  Lycӕum:     /lycaeum/
  Articles:   /articles/
  Hire Us:    /contact/

footer_nav:
  Home:       /
  Work:       /work/
  About:      /about/
  Lycӕum:     /lycaeum/
  Articles:   /articles/
  Contact:    /contact/
  GitHub:     https://github.com/hamon-in
  Twitter:    https://twitter.com/hamon_in

---

<header class="container">
  <a title="Hamon - Home" class="header-logo" href="{{ site.baseurl | append: '/' }}">
    <h1 class="ir">
      Hamon
    </h1>
  </a>
  
  <nav class="header-nav">
    <ul class="bullet-list title-type size-regular">
      {% for item in layout.nav %}
        <li>
          <a href="{{ site.baseurl | append: item[1] }}">
            {{ item[0] | smartify }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>


{{ content }}


<footer class="container">
  <a class="footer-logo silent-hover" href="{{ site.baseurl | append: '/' }}">
    <h1 class="ir">
      Hamon
    </h1>
  </a>
  
  <nav class="footer-nav">
    <ul class="links-list title-type size-small title-three clearfix">
      {% for item in layout.footer_nav %}
        <li>
          {% if item[1] contains '://' %}
            {% assign url = item[1] %}
          {% else %}
            {% assign url = site.baseurl | append:item[1] %}
          {% endif %}
          <a href="{{ url }}">{{
            item[0] | smartify
          }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  
  <p class="footer-fineprint title-type size-small">
    From the coasts of Kerala, India.
    <br>
    <span>
      &copy;
      {{ site.time | date: "%Y" }}
      Hamon Technologies LLP
    </span>
  </p>
</footer>
