---
layout: html

nav:
  Services:     /services/
  Work:         /work/
  Team:         /team/
  Culture:      /culture/
  Contact:      /contact/

social:
  github:       https://github.com/hamon-in
  twitter:      https://twitter.com/hamon_in

---

<header class="header">
  <div class="header-contents clearfix">
    <a title="Hamon - Home" class="header-logo" href="{{ site.baseurl | append: '/' }}">
      <h1 class="ir">
        Hamon
      </h1>
    </a>
    <nav class="header-nav">
      <ul class="nav-list title-type size-small">
        {% for item in layout.nav %}
          {% if page.url == item[1] %}
            {% assign attr = 'class="active"' %}
          {% else %}
            {% assign attr = '' %}
          {% endif %}
          <li>
            <a {{ attr }} href="{{ site.baseurl | append: item[1] }}">
              {{ item[0] | smartify }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>


{{ content }}


<footer class="footer clearboth wrapper">
  <a class="footer-logo" href="{{ site.baseurl | append: '/' }}">
    <h1 class="ir">
      Hamon
    </h1>
  </a>
  
  <nav class="footer-nav">
    <ul class="nav-list title-type size-small">
      {% for item in layout.nav %}
        <li>
          <a href="{{ site.baseurl | append:item[1] }}">{{
            item[0] | smartify
          }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  
  <div class="footer-fineprint title-type size-small">
    <p>
      Also on
      <a href="{{ layout.social.twitter }}">Twitter</a>
      and
      <a href="{{ layout.social.github }}">GitHub</a>.
    </p>
    <p>
      From the coasts of Kerala, India.
      <br>
      <span>
        &copy;
        {{ site.time | date: "%Y" }}
        Hamon Technologies LLP
      </span>
    </p>
  </div>
</footer>
