---
layout: html

nav:
  Home:         /
  Work:         /work/
  About:        /about/
  Articles:     /articles/
  Contact:      /contact/
  The Lycaeum:  /lycaeum/

footer_nav:
  Home:         /
  Work:         /work/
  About:        /about/
  The Lycaeum:  /lycaeum/
  Articles:     /articles/
  Contact:      /contact/
  GitHub:       https://github.com/hamon-in
  Twitter:      https://twitter.com/hamon_in

---

<header class="header ">
  <div class="header-contents clearfix">
    <a title="Hamon - Home" class="header-logo" href="{{ site.baseurl | append: '/' }}">
      <h1 class="ir">
        Hamon
      </h1>
    </a>
    <nav class="header-nav">
      <ul class="bullet-list title-type size-small">
        {% for item in layout.nav %}
          {% if page.url == item[1] %}
            {% assign attr = 'class="active"' %}
          {% else %}
            {% assign attr = '' %}
          {% endif %}
          <li>
            <a {{ attr }} href="{{ site.baseurl | append: item[1] }}">
              {{ item[0] | smartify }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>


{{ content }}


<footer class="clearboth  hidden">
  <a class="footer-logo silent-hover" href="{{ site.baseurl | append: '/' }}">
    <h1 class="ir">
      Hamon
    </h1>
  </a>
  
  <nav class="footer-nav">
    <ul class="links-list title-type size-small title-three clearfix">
      {% for item in layout.footer_nav %}
        <li>
          {% if item[1] contains '://' %}
            {% assign url = item[1] %}
          {% else %}
            {% assign url = site.baseurl | append:item[1] %}
          {% endif %}
          <a href="{{ url }}">{{
            item[0] | smartify
          }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  
  <p class="footer-fineprint title-type size-small">
    From the coasts of Kerala, India.
    <br>
    <span>
      &copy;
      {{ site.time | date: "%Y" }}
      Hamon Technologies LLP
    </span>
  </p>
</footer>
