---

layout: page
permalink: /about/

title: About

brief: |
      What the computer can do, it should do. We make sure that it does.

about:
  - 
    title: What we do
    body: |
      The best infrastructure is invisible.  It does its work and
      stays out of the limelight while providing the foundation for
      customer facing applications to run.  Good infrastructure
      leverages automation and makes the computer do most of the
      work leaving the people to focus on the creative part of the
      enterprise.
      
      Hamon draws on its experience in automation and infrastructure to
      build custom solutions that allow our clients to automate critical
      parts of their infrastructure.
      
      #### Services
      - IoT device management
      - Software lifecycle management
      - Monitoring
      - Analytics
      - Devops automation
      - Test automation

  -
    title: How we work
    body: |
      We take an attitude to software development similar to what a
      swordsmith takes to his work. A combination of efficient
      professionalism and creativity.
      
      We allocate small efficient teams to work on each of our projects
      and follow industry best practices to make sure that our work is
      transparent, within budget and on time.

team:
  title: Our Team
  members:
    -
      name: Noufal Ibrahim
      bio: |
        The founder of Hamon. Noufal is an industry
        veteran with over 15 years of experience. He has worked for Cisco
        systems, Synopsys, The Internet Archive and other organisations
        mostly in infrastructure engineering positions. He's also active
        with open source communities and was the founder of PyCon India
        in 2009.
      links:
        nibrahim.net.in: http://nibrahim.net.in/
        Twitter: http://twitter.com/noufalibrahim
        GitHub: http://github.com/nibrahim/

---


<ul>
  {% for section in page.about %}
    <li id="{{ section.title | slugify }}" class="teaser-spacer">
      <h3 class="size-regular title-four">
        {{ section.title }}
      </h3>
      <div class="prose">
        {{ section.body | markdownify }}
      </div>
    </li>
  {% endfor %}
</ul>
<h3 id="{{ page.team.title | slugify }}" class="size-regular title-four">
  {{ page.team.title }}
</h3>
<ul class="teaser-spacer">
  {% for person in page.team.members %}
    <li class="embed-spacer">
      <h4 class="title-three">
        {{ person.name }}
      </h4>
      <div class="prose">
        {{ person.bio | markdownify }}
        
        {% if person.links %}
          <ul class="links-list title-type size-small">
            {% for link in person.links %}
              <li>
                <a href="{{ link[1] }}">{{ link[0] }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
