---
layout: page
permalink: /work/

title: Work

brief: |
  A selection of our projects and clients in the infrastructure,
  automation and web domains.

clients:
  -
    title: Eindhan
    link: http://eindhan.com
    projects:
      -
        title: Build prototype and initial version of the caditor.com application.
        tech:
          - Python/Django
          - Go
    testimonial:
      body: |
        We are a startup. I was looking for strong
        foundations to start building my web application in terms of right
        technology and best practices. Having worked closely with Noufal and
        his team for two months, I can safely say that I could not have asked
        for more. Noufal’s works was on-time, to spec and importantly with-in
        budget. Through out the entire engagement Noufal and his team showed
        100% availability and delivered quality work in the end. I wouldn't
        think twice hire him again whenever there is a need or recommend to
        others.
      name: Vikram Choudermet
      designation: CEO
      org: Eindhan LTD, UK
  -
    title: Vyoma
    link: http://www.vyoma-media.com
    projects:
      -
        title: Expand existing infrastructure and applications used to deliver a country wide ad network based on raspberry Pi systems.
        tech:
          - Python, MQTT, REST, UNIX
  -
    title: INBE
    link: http://www.paisool.com
    projects:
      -
        title: Creating the communication infrastructure for a mesh of P2P networked PoS devices.
        tech:
          - Python, C/C++, WebRTC, FFI


foss:
  brief: |
    We maintain and contribute to open source projects as well as
    support FOSS organisations.
    
    *[FOSS]:Free and open-source software
  
  projects:
    - title: Command line invoice and timesheet management
      link: http://github.com/hamon-in/invoice
      tech:
        - Python
    - title: Low level port of the python psutil library.
      link: http://github.com/hamon-in/cpslib
      tech:
        - C Python
  
  orgs:
    - title: Free Software Foundation
      logo: /img/fsf-logo.svg
      link: http://www.fsf.org/

---



<ul class="teaser-spacer clearfix">
  {% for client in page.clients %}
    <li class="teaser-spacer">
      <article>
        <h1 class="title-four size-regular">
          {% if client.link %}
            <a class="silent" href="{{ client.link }}">
              {{ client.title }}
            </a>
          {% else %}
            {{ client.title }}
          {% endif %}
        </h1>
        
        {% include projects_listing.liquid projects=client.projects %}
        
        {% if client.testimonial %}
          <div class="testimonial">
            <blockquote>
              {{ client.testimonial.body | markdownify }}
            </blockquote>
            
            <div class="testimonial-attribution">
              <h4>
                {{ client.testimonial.name }}
              </h4>
              <i class="title-type">
                {{ client.testimonial.designation }},
                {{ client.testimonial.org }}
              </i>
            </div>
          </div>
        {% endif %}
        
        {% if client.link %}
          <a class="title-type size-small" href="{{ client.link }}">
            {% include prettyurl.liquid url=client.link %}
          </a>
        {% endif %}
      </article>
    </li>
  {% endfor %}
</ul>


{% if page.foss %}
  <hr class="teaser-spacer">
  <section class="teaser-spacer">
    <h2 class="title-one">
      FOSS
    </h2>
    
    <div class="page-caption prose size-xlarge embed-spacer">
      {{ page.foss.brief | markdownify }}
    </div>
    
    <div class="embed-spacer">
      {% include projects_listing.liquid projects=page.foss.projects %}
    </div>
    
    {% if page.foss.orgs %}
      <h2 class="title-three size-small">
        We Support
      </h2>
      <ul class="logos-list">
        {% for org in page.foss.orgs %}
          <li>
            <figure class="contain-width centered">
              <a href="{{ org.link }}">
                <img alt="{{ org.title }}" src="{{ site.baseurl | append: org.logo }}">
              </a>
            </figure>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
{% endif %}
